a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display: block;
}
body
{
	line-height: 1;
}
ol,ul
{
	list-style: none;
}
blockquote,q
{
	quotes: none;
}
blockquote:after,blockquote:before,q:after,q:before
{
	content: "";
	content: none;
}
a
{
	text-decoration: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
input[type=search]
{
	border: none;
	outline: none;
	webkit-appearance: none;
}
input[type=submit]
{
	border: none;
	outline: none;
	webkit-appearance: none;
}
input:active,input:focus
{
	outline: none;
}
input::-moz-focus-inner
{
	border: 0;
}
.header
{
	padding-top: 55px;
}
.container
{
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}
.container-sup
{
	background: #F8F8F8;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}
.container-form
{
	margin: 0 auto;
	max-width: 780px;
	padding-bottom: 87px;
}
.header-wrapper
{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.header-wrapper .header-nav
{
	display: flex;
}
.header-wrapper .header-nav .header-list
{
	align-items: center;
	display: flex;
}
.header-wrapper .header-nav .header-list li
{
	color: #083C6E;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-right: 60px;
	text-transform: uppercase;
}
.header-wrapper .header-nav .header-list li :active,.header-wrapper .header-nav .header-list li :focus,.header-wrapper .header-nav .header-list li:hover
{
	border-bottom: 3px solid #083C6E;
}
.header-wrapper .header-nav a
{
	background-color: #083C6E;
	color: #fff;
	font-family: "DM Sans",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	padding: 20px 50px;
	text-transform: uppercase;
}
.header-wrapper .header-nav a:hover
{
	background-color: #0b569e;
}
.bg
{
	background: url(../img/Top-img.png) no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
}
.top-intro
{
	padding-top: 212px;
}
.top-intro-wrapper-text
{
	max-width: 460px;
}
.top-intro-wrapper-text .top-intro-title
{
	color: #000000;
	font-family: Poppins;
	font-size: 60px;
	font-style: normal;
	font-weight: 500;
	line-height: 84px;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.top-intro-wrapper-text .top-intro-subtitle
{
	color: #B1B6CA;
	font-family: "Rubik",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	padding-bottom: 23px;
}


.top-intro-wrapper-text .search-field
{
	align-items: center;
	background-color: #F1F1F1;
	color: #747DA1;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	padding: 20px 50px;
}
.top-intro-wrapper-text .search-button
{
	align-items: center;
	background-color: #083C6E;
	color: #fff;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	padding: 20px 40px;
	text-transform: uppercase;
	width: 138px;
}
.top-intro-wrapper-text .search-button:hover
{
	background-color: #0b569e;
}
.top-intro-wrapper-text .search-form
{
	padding-bottom: 250px;
}

.menu-price
{
	padding-bottom: 150px;
	padding-top: 150px;
}
.menu-title
{
	align-items: center;
	color: #000;
	display: flex;
	font-family: Poppins;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	justify-content: center;
	line-height: 64px;
	padding-bottom: 101px;
}
.menu-items
{
	display: flex;
	justify-content: space-between;
}
.menu-items .menu-item:not(:last-child)
{
	padding-right: 20px;
}
.menu-items .card-thumb
{
	box-shadow: 0px 7px 15px rgba(8,60,110,0.1);
	height: auto;
	max-width: 100%;
}
.menu-item-pic
{
	position: relative;
}
.menu-item-text
{
	bottom: 0;
	display: flex;
	left: 0;
	opacity: 0.9;
	position: absolute;
	width: 100%;
}
.sale-button
{
	background: #083C6E;
	color: #fff;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	left: 13px;
	line-height: 30px;
	padding: 8px 15px;
	position: absolute;
	top: 13px;
}
.bottom-menu-item
{
	align-items: center;
	background-color: #083C6E;
	display: flex;
	justify-content: space-between;
	padding-bottom: 12px;
	padding-top: 12px;
	width: 100%;
}
.bottom-menu-item .menu-item-name
{
	color: #fff;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	margin-left: 13px;
}
.menu-item-price
{
	border: 1.5px solid #FFFFFF;
	border-radius: 5px;
	color: #fff;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	margin-right: 12px;
}
.furniture
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 235px;
}
.furniture .furniture-text
{
	max-width: 460px;
}
.furniture .furniture-text .prefurniture-title
{
	color: #000;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 34px;
}
.furniture .furniture-text .furniture-main-title
{
	color: #000;
	font-family: Poppins;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
	margin-bottom: 25px;
	width: 20%;
}
.furniture .furniture-text .furniture-main-title:after
{
	border-bottom: 6px solid #083C6E;
	content: "";
	display: block;
	padding-top: 20px;
	width: 183px;
}
.furniture .furniture-text .furniture-desc
{
	color: #B1B6CA;
	font-family: "Rubik",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	margin-bottom: 50px;
}
.furniture .furniture-text .furniture-button
{
	background-color: #083C6E;
	color: #fff;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	padding: 20px 40px;
	text-transform: uppercase;
}
.furniture .furniture-text .furniture-button:hover
{
	background-color: #0b569e;
}
.video
{
	margin-bottom: 170px;
	width: 100%;
}
.video__wrapper
{
	margin: 0 auto;
	position: relative;
}
.video__item
{
	padding-top: 447px;
}
.video__element
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.benefits
{
	margin-bottom: 146px;
}
.benefits .benefits-title-text
{
	max-width: 460px;
}
.benefits .benefits-title-text .benefits-pre-title
{
	color: #000;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 34px;
}
.benefits .benefits-title-text .benefits-title
{
	color: #000;
	font-family: Poppins;
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 25px;
}
.benefits .benefits-title-text .benefits-title:after
{
	border-bottom: 6px solid #083C6E;
	content: "";
	display: block;
	padding-top: 20px;
	width: 183px;
}
.benefits-cards
{
	display: flex;
	justify-content: space-between;
}
.benefits-cards .benefits-card
{
	display: flex;
	max-width: 375px;
	padding-top: 60px;
}
.benefits-cards .benefits-card .benefits-card-text .benefits-name
{
	color: #000;
	font-family: Poppins;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 48px;
	text-align: center;
}
.benefits-cards .benefits-card .benefits-card-text .benefits-decr
{
	color: #B1B6CA;
	font-family: "Rubik",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	text-align: center;
}
.provide .provide-items
{
	display: flex;
	justify-content: space-between;
}
.provide .provide-items .provide-img
{
	max-width: 100%;
	padding-right: 20px;
	position: relative;
}
.provide .provide-items .provide-img .provide-image
{
	max-width: 100%;
	min-width: 80%;
}
.provide .provide-items .provide-img .provide-sale
{
	background: #083C6E;
	border-radius: 0px 0px 200px 0px;
	color: #fff;
	font-family: Poppins;
	font-size: 62px;
	font-style: normal;
	font-weight: 500;
	line-height: 60px;
	max-width: 100%;
	opacity: 0.8;
	padding: 30px 65px 62px 30px;
	position: absolute;
	top: 0;
}
.provide-text
{
	max-width: 460px;
}
.provide-text .preprovide-title
{
	color: #000;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 34px;
}
.provide-text .provide-main-title
{
	color: #000;
	font-family: Poppins;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
	margin-bottom: 25px;
}
.provide-text .provide-main-title:after
{
	border-bottom: 6px solid #083C6E;
	content: "";
	display: block;
	padding-top: 20px;
	width: 183px;
}
.provide-text .provide-desc
{
	color: #B1B6CA;
	font-family: "Rubik",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	margin-bottom: 70px;
}
.provide-text .provide-button
{
	background-color: #083C6E;
	color: #fff;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	padding: 20px 40px;
	text-transform: uppercase;
}
.provide-text .provide-button:hover
{
	background-color: #0b569e;
}
.support
{
	display: flex;
	padding-bottom: 78px;
	transform: translateY(50%);
}
.support .support-text .support-title-text
{
	padding-bottom: 20px;
	padding-top: 75px;
}
.support .support-text .support-title-text .support-title
{
	color: #083C6E;
	font-family: Poppins;
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: 48px;
	text-align: center;
}
.support .support-text .support-title-text .support-title:after
{
	border-bottom: 6px solid #083C6E;
	content: "";
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	width: 154px;
}
.support .support-text .support-sub
{
	color: #B1B6CA;
	font-family: "Rubik",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	padding-bottom: 40px;
	text-align: center;
}
.support-form-space
{
	background: #FFFFFF;
	border: 1px solid #075DB0;
	display: flex;
	justify-content: space-between;
}
.support-form-space .support-form-field
{
	border: none;
	font-family: DM Sans;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
	width: 100%;
}
.support-form-space .support-form-field:placeholder-shown
{
	text-transform: uppercase;
}
.support-form-button
{
	background-color: #083C6E;
	color: #fff;
	font-family: "DM Sans",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	margin-bottom: 9px;
	margin-right: 9px;
	margin-top: 9px;
	padding: 20px 50px;
	text-transform: uppercase;
}
.support-form-button:hover
{
	background-color: #0b569e;
}
.footer
{
	background: #152242;
	z-index: 1;
}
.footer .footer-items
{
	border-bottom: 1px solid rgba(255,255,255,0.15);
	display: flex;
	justify-content: space-between;
	padding-top: 367px;
}
.footer .footer-items .footer-title-text
{
	color: #fff;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	font-weight: 750;
	line-height: 30px;
	padding-bottom: 30px;
}

.footer .footer-items .footer-item-text
{
	color: #fff;
	display: flex;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 350;
	font-weight: 500;
	line-height: 30px;
	max-width: 255px;
	padding-bottom: 20px;
}
.footer .footer-items .footer-item-text:hover
{
	opacity: 0.7;
}
.footer .footer-items .img-footer
{
	padding-bottom: 100px;
	padding-top: 50px;
}
.footer .img-footer:hover{
    opacity: 0.7;
}
.footer .footer-icons
{
	display: flex;
	justify-content: flex-end;
	padding-bottom: 31px;
	padding-top: 31px;
}
.footer .footer-icon:hover{
    opacity: 0.7;
}
.footer .footer-icons .footer-icon
{
	padding-right: 12px;
}
