//Subtitle
$color-subtitle: #B1B6CA;
$subtitle-font-size: 18px;
$subtitle-line-height:28px;
//Buttons
$color-button-text: #fff;
$button-bg: #083C6E;
$button-font-size: 18px;
$button-line-height:16px;
$padding-search:20px 40px;
//Title
$color-title-text: #000;
$title-font-size: 52px;
$title-line-height:64px;
//Others
$container-max-width:1170px;
// menu-item
$menu-item-bg:#083C6E;
$max-width-block: 460px;
//Subtitle-media
$subtitle-font-size-media: 16px;
$subtitle-line-height-media:20px;
//Title-media
$title-font-size-media: 26px;
$title-line-height-media:26px;